<webobject name = "ContainerAssistantEtapes">
  <table>
    <tbody>
      <tr>
        <th class = "etapes">
          <h4> Etapes : </h4>
        </th>
      </tr>
      <tr>
        <td valign = "middle">
                    <webobject name = "Etapes">
            <webobject name = "DivEtape">
              <webobject name = "isCreationMode"><webobject name = "Etape" /></webobject>
              <webobject name = "isEditMode">
                <webobject name = "SelectEtapeHyperLink"><webobject name = "Etape" /></webobject>
              </webobject>
            </webobject>
          </webobject>
        </td>
      </tr>
    </tbody>
  </table>
</webobject>
<webobject name = "ContainerAssistantContent">
  <webobject name = "ContainerAssistantModule">
    <div><webobject name = "Module" /></div>
  </webobject>
  <webobject name = "ContainerAssistantMenu">
    <table width = "100%">
      <tbody>
        <tr height = "100%">
          <td width = "25%" align = "left" vertical-align = "top"><webobject name = "Annuler" /></td>
          <td width = "50%" align = "center">
            <webobject name = "Precedent" />
            <webobject name = "Suivant" />
          </td>
          <td width = "25%" align = "right"><webobject name = "Terminer" /></td>
        </tr>
      </tbody>
    </table>
  </webobject>
</webobject>
<webobject name = "ApresEnregistrerModalDialog" />