<!DOCTYPE html>
<!--  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html lang = "fr">
  <head>
    <!-- xmlns = "http://www.w3.org/1999/xhtml"  <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8" />-->
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <script type = "text/javascript">
      if(window.history.forward(1) != null) {
        window.history.forward(1);
      }
    </script>
    <script src="https://cas.utt.fr/iframe/postMessage-resize-iframe-in-parent.js"></script>
  </head>
  <body class = "bdColor">
    <span>
      <center>
        <p class = "useMaxWidth"> <webobject name = "ExceptionInfos" /> </p>
        <p style = "text-align:justify;font-size-adjust:.5;">
          Afin de la prendre en compte dans les plus brefs délais, 
          un mail contenant le message d'erreur sera envoyé au(x) 
          responsable(s) de l'application.
          <br />
          Veuillez nous excuser pour ce d&eacute;sagr&eacute;ment. 
        </p>
        <p>
          <webobject name = "RetourAccueil">Fermer</webobject>
        </p>
      </center>
    </span>
  </body>
</html>